body{
    width: 80vw;
    margin: auto;
}
#artigos{
    background-color: aquamarine;
    display: flex;
}
#meusHobbies{
    background-color: red;
}
#minhaCarreira{
    background-color: cornflowerblue;
}
